<% provide(:title, 'CONTACT') %>
<section class="hero-unit" id="contact">
	<h1><span class="fancy_font1">Keo</span> <span class="fancy_font2">Strife</SPAN> </h1>
	<p><i class="icon-user"></i> Cell: (647)864-9135</p>
	<p><i class="icon-envelope"></i> Mail: <a href="mailto:contact@keostrife.com?Subject=Hey%20Keo!!!">contact@keostrife.com</a></p>
	<p><i class="icon-home"></i> Website: <a href="http://keostrife.com" target="_blank">keostrife.com</a></p>
	<p><i class="icon-heart"></i> Twitter: <a href="https://twitter.com/KeoStrife">@KeoStrife</a></p>
	<p><i class="icon-file"></i> LinkedIn: <a href="http://ca.linkedin.com/in/keostrife">keostrife</a></p>
	<p><i class="icon-thumbs-up"></i> Facebook: <a href="https://www.facebook.com/mrdandmun">mrdandmun</a></p>
</section>