<% provide(:title, 'HOME') %>
<section class="hero-unit">
	<%= image_tag("keo_strife2.png", alt: "KEO!!!") %>
	<div id="content">
		<h1><span class="fancy_font1">Keo</span> <span class="fancy_font2">Strife</SPAN> </h1>
		<p>People mostly call me Keo, some calls me Mr.Strife... <p>
		<p>I just graduated from Humber and right now 'm working as Developer at Babyrobot! I'm Web/Software Programmer (** I favor the web :) **). I like challenges and having fun! I have been playing around with Ruby-on-Rails and Python lately. This website was created with RoR!!! </p>
		<p>My name above ("Keo Strife") used my top-2 favourite programming fonts :D</p>
	</div>

</section>

