<% provide(:title, 'LAB') %>
<section class="hero-unit" id="lab">
<h1><span class="fancy_font1">Keo</span> <span class="fancy_font2">Strife</SPAN>'s Lab </h1>
	<p>I'm tired of hard code this again and again forever... So please click <a href="http://hoangminhdat.com?page=lab">here</a> to be redirected to my OLD portfolio </p>
</section>
