@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Marmelad);
@import url(http://fonts.googleapis.com/css?family=Average+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
.seo, .hidden {
	display: none;
}

.fancy_font1 {
	font-family: 'Inconsolata', sans-serif;
}

.fancy_font2 {
	font-family: 'Ubuntu Mono', sans-serif;
}

#wrapper {
	max-width: 978px;
	width: 100%;
	margin: 0 auto;
	header {
		margin-top: 10px;
		margin-bottom: 40px;
		font-family: 'Average Sans', sans-serif;
		text-transform: uppercase;
	}

	section {
		position: relative;
		img {
			width: 220px;
			position: absolute;
			bottom: 0;
		}
	}

	footer {
		border-top: 1px solid #eaeaea;
		margin-top: 45px;
		padding-top: 5px;
		a {
			font-family: 'Marmelad', sans-serif;
			&:hover {
				color: #222;
			}
		}
		small {
			float: left;
		}
		ul {
			float: right;
			list-style: none;
			li {
				float: left;
				margin-left: 10px;
			}
		}
		small {
			font-size: 1em;
		}
	}
}

